/*

!/.clang-format
!/.clang-tidy
!/.gitignore
!/CMakeLists.txt
!/codecov.yml
!/conanfile.py
!/CPPLINT.cfg
!/LICENSE
!/README.md

/build/
/CMakeUserPresets.json
/.vscode/*
/pycanha-core/include/pycanha-core/config.hpp
/pycanha-core/include/pycanha-core/.vscode/*
/pycanha-tmm/
