# Test compilation and test in windows 

# Conan options and commands:
#   conan config install .conan  -> Install the conan profiles I've created in .conan/profiles folder.
#   --build=missing -> Build packages from source whose binary package is not found.
#   --profile=<host_profile> --profile:build=<build_profile>  -> conan needs two profiles, otherwise try to fallback to default one
name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests-matrix:
    strategy:
      fail-fast: False
      matrix:
        config:
          - os: ubuntu
            compiler: gcc12
            profile_base: ubuntu-gcc12-amd64
            mkl_option: "True"
          - os: windows
            compiler: msvc2022
            profile_base: windows-msvc2022-amd64
            mkl_option: "True"
          - os: macos
            compiler: clang
            profile_base: macos-clang-arm64
            mkl_option: "False"
        build_type: [release, debug]

    name: ${{matrix.config.os}} ${{matrix.config.compiler}} ${{matrix.build_type}} built and tests
    runs-on: ${{matrix.config.os}}-latest
    timeout-minutes: 20

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install conan and cmake
      run: |
        pip install conan
        pip install cmake

    - name: Configure Apple Clang
      if: matrix.config.os == 'macos'
      run: |
        echo "CC=clang" >> $GITHUB_ENV
        echo "CXX=clang++" >> $GITHUB_ENV

    - name: Install conan profiles
      run: |
        conan config install .conan

    - name: Build and test application in ${{matrix.build_type}} mode
      run: >
        conan create . --build=missing
        -pr:h=${{matrix.config.profile_base}} -pr:h=build-${{matrix.build_type}} -pr:h=options-ci
        -pr:b=${{matrix.config.profile_base}} -pr:b=build-${{matrix.build_type}} -pr:b=options-ci
        -o PYCANHA_OPTION_USE_MKL=${{ matrix.config.mkl_option }}
